public/config-nodered.json
[{"id":"bd3b832c.c7b318","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"179a4b87.36a11c","type":"mqtt in","z":"bd3b832c.c7b318","name":"","topic":"sensor/rfid","qos":"2","datatype":"auto","broker":"1521354a.7a49fb","x":280,"y":180,"wires":[["5c9b4c66.bfea74"]]},{"id":"5c9b4c66.bfea74","type":"csv","z":"bd3b832c.c7b318","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":480,"y":180,"wires":[["55eaa35.4ca45dc"]]},{"id":"55eaa35.4ca45dc","type":"json","z":"bd3b832c.c7b318","name":"","property":"payload","action":"","pretty":false,"x":640,"y":180,"wires":[["352411ba.145efe"]]},{"id":"d4f60e62.00d408","type":"debug","z":"bd3b832c.c7b318","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1169,"y":137,"wires":[]},{"id":"352411ba.145efe","type":"mqtt out","z":"bd3b832c.c7b318","name":"","topic":"scanner-test","qos":"","retain":"","broker":"1521354a.7a49fb","x":830,"y":292,"wires":[]},{"id":"1abf411c.2ddd2f","type":"mqtt in","z":"bd3b832c.c7b318","name":"","topic":"scanner-test","qos":"2","datatype":"auto","broker":"1521354a.7a49fb","x":930,"y":194,"wires":[["d4f60e62.00d408"]]},{"id":"1521354a.7a49fb","type":"mqtt-broker","z":"","name":"","broker":"mqtt-broker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]